<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-card>
      <ion-card-header>
          hello
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos molestiae rem repellat eum animi deserunt consectetur debitis eius harum nulla! Quia maiores modi vel? Dolore voluptatibus in necessitatibus repudiandae tenetur.
      </ion-card-content>
    </ion-card>


</ion-content>